<% layout('/layouts/boilerplate') %>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Aw Snap!</h4>
        <p>
            <%= err.message %>
        </p>
        <% if(process.env.NODE_ENV !='production' ){ %>
            <hr>
            <p class="mb-0">
                <%= err.stack %>
            </p>
            <% } %>
    </div>